<h1>Top page</h1>

<%= link_to '新規投稿', '/posts/new', mehtod: :GET %>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      <%= post.content %> 
    </div>
    <div class="post-contet">
      <%= post.created_at %>
    </div>
  </div>
<% end %>
  


